body{
	background-color: #67D8DA;
}
.in{
	text-align: center;
	background-color: #279EDA;
	height: 50px ;
	 border-radius:200px;
}
.in:hover{
	border:#FAF080 solid 5px; 
}
nav{
box-shadow: 0 0 2px rgba(0, 0, 0, 0.06); 
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px; 
    padding: 2em 2em 4em;
    border-radius: 100px;
    background-color:#ffffff;	
}
.io{
background-color: #2B99B5 ;
font-size: 29px;
margin-right:590px;
border-radius: 20px;
text-align: center;
}
a{
	text-decoration: none;
}